
.container-com-imagem {
  background-image: url('/images/macroarq_arquitetura_interiores_corporativo_projeto_escritorio_advocacia_hall_entrada_piso_elevado_carpete_madeira_cumaru_divisoria_serralheria_vidro_funcional_clean.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-com-imagem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Sobreposição escura: 50% de opacidade */
  z-index: 1; /* Coloca a sobreposição atrás do conteúdo */
}

.container-com-imagem > * {
  position: relative;
  z-index: 2; /* Garante que o conteúdo fique acima da sobreposição */
}

 .sub_texto {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.titulo {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sub_texto {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-size: 1.2rem;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

span {
  font-size: 2rem;
}


.row-alta {
  margin-top: 170px;
}

.text-center {
  text-align: center;
}
